.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
.container dt {
  font-size: 2rem;
}
.container dd {
  font-size: 1rem;
  margin-top: 1rem;
}
.container ul {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}
.container li img {
  width: 4rem;
}
