.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
}

.poster {
  border-radius: 20px;
  max-width: 70%;
  place-self: center;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.tab_menu {
  display: inline-block;
  background-color: #efefef;
  color: #333333;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.tab_menu > a + a {
  margin-left: 2rem;
}
